  *{ 
     
     margin: 0;
     padding: 0;
 }
 .header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(./image/home-screen.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
 }
 .nav{
  display: flex;
  padding: 2% 6%;s
  justify-content: space-between;
  align-items: center ;
 }
 .dropdown-item::after{
     content: '';
     width: 0%;
     height: 3px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
}
.dropdown-item:hover::after{
     width: 100%;
}
.nav-link::after{
     content: '';
     width: 0%;
     height: 3px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
}
.nav-link:hover::after{
     width: 100%;
}


 body {
      background-image: linear-gradient(to right, #F7DFD2, #F7EDE9, #F7DFD2 );
     }

     .pagetitle {
          font-weight: 900;
          font-family: "Times New Roman", Times, serif;
     }
    body {
  font-family: Rubik,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: #607289;
}

h5 {
    font-size: 1rem;
    line-height: 1.375;
  font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

footer {
  background: #ebf4fa;
}
Run Pen
Resources 
.ifframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.ifframe-container ifframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
